* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --green: #c5f82a;
    --white: #ffffff;
    --grey700: #333333;
    --grey800: #1f1f1f;
    --grey900: #141414;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--grey900);
    font-family: Inter, sans-serif;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--grey800);
    width: clamp(20.3rem, 18.7rem + 2vw, 21rem);
    padding: clamp(1.3rem, 0.8rem + 0.2vw, 2rem);
    border-radius: 0.7rem;
    gap: 1.5rem;
}

.card img {
    display: block;
    width: calc(1rem + 25%);
    border-radius: 100%;
}

.name {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0.55rem;
}

.name h1 {
    color: var(--white);
    font-weight: 600;
}

.name h2 {
    color: var(--green);
    font-size: 0.865rem;
    font-weight: 600;
}

.description {
    color: var(--white);
    font-size: 0.865rem;
    font-weight: 400;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 0.75rem;
}

.links button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Inter, sans-serif;
    border: none;
    background: var(--grey700);
    width: 100%;
    border-radius: 0.45rem;
    text-decoration: none;
    color: var(--white);
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s ease;
}

.links button:hover {
    background: var(--green);

}

.links button a {
    text-decoration: none;
    width: 100%;
    height: 100%;
    padding: 0.75rem 0;
    color: var(--white);
    font-weight: 700;
    transition: 0.3s ease;
}

.links button a:hover {
    color: var(--grey800);
}